<hr>
<div class="d-flex justify-content-between">

    <button class="btn btn-info mt-2" onclick="window.history.back()">Voltar</button>
    <div onclick="moverinfoCAp()" id="infoCap">
        <div style="text-align: center;" class="d-flex justify-content-between">


            <h1 style="color: white;text-align: center;font-weight:bold;font-size: 3rem">
                {{livro}}
            </h1>
            <h1 style="color: white;text-align: center;font-weight:bold;font-size: 3rem">
                | Capítulo
            </h1>
            <div style="background-color:  white;texte-align:center;width: 10%;margin-rigth: -10px">
                <h1 style=" font-size: 3rem;color:#084B8A; margin:auto" >
                    {{capitulo}}
                </h1>
            </div>
        </div>
    </div>
    <form action="/biblia/livro/capitulo" method="post">
        <input type="hidden" name="livro" value="{{livro}}">
        <input type="hidden" id="cap" name="cap" value="{{capitulo}}">
        <button class="btn btn-info mt-2" type="submit">Prossimo</button>
    </form>



</div>
<br>


<div class="table-responsive-xl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each versiculos}}
            <tr id="vers-{{this.numero}}">
                <th scope="row">
                    <p>
                        <span style="color: red;">{{this.numero}}</span> {{this.conteudo}}
                    </p>

                </th>
            </tr>{{else}}
            {{/each}}
        </tbody>

    </table>




</div>

<script>
    window.onload = function () {
        var btnPross = document.querySelector('input#cap')

        //console.log(btnPross.length + ' | ' + btnPross.value)
        btnPross.value = Number(btnPross.value) + 1
    }

    var indoCap = document.getElementById('infoCap')

    indoCap.style.position = 'fixed'
    indoCap.style.background = '#084B8A'
    indoCap.style.width = '50%'
    indoCap.style.left = '25%'
    indoCap.style.padding = '10px'
    indoCap.style.top = '0%'


    moverinfoCAp = () => {
        if (indoCap.style.left == '25%') {
            indoCap.style.left = '-45%'
        } else {
            indoCap.style.left = '25%'
        }
    }
</script>