<hr>
<div class="d-flex justify-content-between">

    <button class="btn btn-info mt-2" onclick="window.history.back()">Voltar</button>
    <div onclick="moverinfoCAp()" id="infoCap">
        <div style="text-align: center;" class="d-flex justify-content-between">


            <h1 style="color: white;text-align: center;font-weight:bold;font-size: 3rem">
                {{livro}}
            </h1>
            <h1 style="color: white;text-align: center;font-weight:bold;font-size: 3rem">
                |
            </h1>
            <h1 style="color: white;text-align: center;font-weight:bold;font-size: 3rem">
                Capítulo
            </h1>
            <div style="background-color:  white;texte-align:center;width: 10%;margin-rigth: -10px">
                <h1 style=" font-size: 3rem;color:#084B8A; margin:auto">
                    {{capitulo}}
                </h1>
            </div>
        </div>
    </div>
    <form action="/biblia/livro/capitulo" method="post">
        <input type="hidden" name="livro" value="{{livro}}">
        <input type="hidden" id="cap" name="cap" value="{{capitulo}}">
        <button class="btn btn-info mt-2" type="submit">Prossimo</button>
    </form>



</div>
<br>


<div class="table-responsive-xl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each versiculos}}
            <tr id="vers-{{this.numero}}">
                <th scope="row">
                    <p>
                        <span style="color: red;">{{this.numero}}</span> {{this.conteudo}}
                    </p>

                </th>
            </tr>{{else}}
            {{/each}}
        </tbody>

    </table>




</div>
<div id="btn" style="position: fixed;left:0%;top: 25%;height:50%;">
    
    <a onclick="verVers(this)" href="#vers-1" id="backVers" style="position: absolute;top:0%;">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
        </svg>
    </a>
    
    <a onclick="verVers(this)" href="#vers-1"  id="fowardVers" style="position: absolute;bottom:0%;">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
        </svg>
    </a>
</div>
<script>
    window.onload = function () {
        var btnPross = document.querySelector('input#cap')

        //console.log(btnPross.length + ' | ' + btnPross.value)
        btnPross.value = Number(btnPross.value) + 1
    }

    var indoCap = document.getElementById('infoCap')

    indoCap.style.position = 'fixed'
    indoCap.style.background = '#084B8A'
    indoCap.style.width = '50%'
    indoCap.style.left = '25%'
    indoCap.style.padding = '10px'
    indoCap.style.top = '0%'


    moverinfoCAp = () => {
        if (indoCap.style.left == '25%') {
            indoCap.style.left = '-45%'
        } else {
            indoCap.style.left = '25%'
        }
    }
</script>